/* One */
/* div{
    background-color: green;
}  */



/* Two class */
.p{
    background-color: blue;
}

/* Three ID */
#id{
    background-color: indianred;
}

ul{
    background-color: yellowgreen;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul > li {
    display: inline;
    width: 100px;
    background-color: goldenrod;
}
div > p{
    background-color: gold;
}


span p{
    background-color: rgb(180, 180, 158);
}