* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {

    background-color: white;
  }
  
  .header, .footer {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 15px;
  }
  
  .column {
    float: left;
    padding: 15px;
  }
  
  .clearfix::after {
    content: "";
    text-align: justify;
    clear: both;
    display: table;
  }
  
  .menu {
    width: 25%;
  }
  
  .content {
    width: 75%;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #868686;
    color: #ffffff;
  }
  
  .menu li:hover {
    background-color: #000000;
  }