*{
    margin: 0;
    padding: 0;
}

/* Main nav  */
.main{
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
}
ul{
    display: flex;
    list-style-type: None;
    padding: 20px;
}
li > a{
    /* border: 2px solid black; */
    padding: 15px 10px 15px 10px;
    text-decoration: none;
}

a:hover{
    color: black;
    background-color: white;
    border-radius: 240px;
}
/* Main nav end */


.article{
    display: flex;
    /* flex-wrap: wrap; */
}