.black-box{
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 200px;
    color: white;
    margin: 30px;
    text-align: left;
    /* margin-left: 50px; */
    z-index: 1;
}
.gray-box{
    position: absolute;
    background-color:gray;
    width: 50%;
    margin-top: -150px;
    text-align: right;
    margin-left: 130px;
    height: 200px;
    z-index: 3;
}
.green-box{
    position:absolute;
     margin-top: -100px;
    text-align: left;
    background-color: rgb(89, 206, 128);
    z-index: 2;
    width: 50%;
    height: 200px;
}






.fl>img{
    float: right;
    width: 150px;
    height: 150px;
}
.fl{
    margin-top: 200px;
    padding-top: 49px;

}

















/* .container {
    position: relative;
  }
  
  .black-box {
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
  }
  
  .gray-box {
    position: absolute;
    z-index: 3; /* gray box will be above both green and black box */
    /* background: lightgray;
    height: 60px;  
    width: 70%;
    left: 50px;
    top: 50px;
  }
   */
  /* .green-box {
    position: absolute;
    z-index: 2; /* green box will be above black box */
    /* background: lightgreen;
    width: 35%;
    left: 270px;
    top: 15px;
    height: 100px;
  }  */