*{
  margin: 0px;
  padding: 0px;
}
.head{
  position: sticky;
  /* background-attachment: fixed; */
  border-radius: 0px 0px 10px 10px;
  color: white;
background: #1c4528;
box-shadow:  -24px 24px 48px #102717,
             24px -24px 48px #286339;
  margin-top: 0px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.head:hover{
  font-size: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.para{
  background-color: #286339;
  color: white;
}
.black-box{
  border-radius: 50px;
background: #e0e0e0;
box-shadow:  -24px 24px 48px #808080,
             24px -24px 48px #ffffff;
    position: relative;
    width: 50%;
    height: 200px;
    margin: 30px;
    text-align: left;
    z-index: 1;
}
.gray-box{
    position: absolute;
    border-radius: 50px;
background: #28c356;
box-shadow:  -24px 24px 48px #176f31,
             24px -24px 48px #39ff7b;
    width: 50%;
    margin-top: -150px;
    text-align: right;
    margin-left: 200px;
    height: 200px;
    z-index: 3;
}
.green-box{
    position:absolute;
     margin-top: -100px;
    text-align: left;
    border-radius: 50px;
background: #c32828;
box-shadow:  24px 24px 48px #6f1717,
             24px 24px 48px #ff3939;
    z-index: 2;
    width: 50%;
    height: 200px;
}






.fl>img{
    float: right;
    width: 150px;
    height: 150px;
}
.fl{
    margin-top: 200px;
    padding-top: 49px;

}



div {
    border: 3px dotted #000000;
    padding: 5px;
  }
  
  .img1 {
    float: right;
  }
  
  .img2 {
    float: right;
  }
  
  .clearfix {
    overflow: auto;
  }















/* .container {
    position: relative;
  }
  
  .black-box {
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
  }
  
  .gray-box {
    position: absolute;
    z-index: 3; /* gray box will be above both green and black box */
    /* background: lightgray;
    height: 60px;  
    width: 70%;
    left: 50px;
    top: 50px;
  }
   */
  /* .green-box {
    position: absolute;
    z-index: 2; /* green box will be above black box */
    /* background: lightgreen;
    width: 35%;
    left: 270px;
    top: 15px;
    height: 100px;
  }  */